// Color Variables
$licorice: #101010;
$blue-gem: #6c72cb;
$blue-gem-light: #7f85d6;
$blue-gem-dark: #545bb4;
$white-smoke: #f8f8fa;
$text-color-light: white;
$text-color-dark: #333;

$breakpoint-tablet: 900px;
$breakpoint-mobile: 700px;

// Fonts
@font-face {
  font-family: OpenSans;
  src: url(../Fonts/OpenSans-Light.ttf);
  font-weight: 100;
}
@font-face {
  font-family: OpenSans;
  src: url(../Fonts/OpenSans-SemiBold.ttf);
  font-weight: 200;
}
@font-face {
  font-family: OpenSans;
  src: url(../Fonts/OpenSans-Bold.ttf);
  font-weight: 300;
}
// Fonts

// Mixins
@mixin OpenSans($weight) {
  font-family: OpenSans;
  font-weight: $weight;
}

@mixin button-primary($padding) {
  padding: $padding;
  background-color: $blue-gem;
  color: white;
  @include OpenSans(200);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    background-color: $blue-gem-light;
  }
  &:active {
    background-color: $blue-gem-dark;
  }
}
@mixin button-secondary($padding) {
  padding: $padding;
  background-color: $blue-gem;
  color: white;
  @include OpenSans(100);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;

  &:focus {
    outline: none;
  }
  &:active {
    background-color: $primary-shade-1a;
  }
}

@mixin button-hollow($padding) {
  padding: $padding;
  background-color: transparent;
  color: white;
  @include OpenSans(200);
  border: 3px solid $blue-gem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1em;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $blue-gem-light;
  }
  &:active {
    background-color: $blue-gem-dark;
  }
}

@mixin input-dark() {
  padding: 14px 12px;
  width: 100%;
  background-color: transparent;
  border: 2.4px solid $blue-gem;
  border-radius: 12px;
  color: #e6e6e6;

  &:focus {
    outline: none;
  }
}
// Mixins
