@import "assets.scss";

#login-body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  #login-form {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .space-fill-icon {
      padding-bottom: 2rem;
      img {
        width: 100%;
        max-width: 10rem;
        height: auto;
      }
    }

    .login-error-container {
      color: #ec3a3a;
      @include OpenSans(200);
      display: none;
      align-items: center;
      width: 70%;
      font-size: 12px;

      img {
        margin-right: 6px;
        width: 100%;
        height: auto;
        max-width: 18px;
      }
    }
    .input-group {
      width: 70%;
      padding: 12px 0px;
      position: relative;

      .pass-group {
        display: flex;
        position: relative;

        .visib-ic:hover {
          background-color: transparent;
        }
        button {
          background-color: transparent;
          width: auto;
          padding: 4px;
          position: absolute;
          right: 12px;
          top: 25%;
          cursor: pointer;
          font-size: 19px;

          &:active {
            background-color: transparent;
          }
          &:focus {
            outline: none;
          }
        }
      }
      label {
        position: absolute;
        padding: 0px 8px;
        top: 6px;
        left: 12px;
        background-color: $licorice;
        color: white;
        z-index: 9;
        @include OpenSans(200);
      }
      input {
        margin-top: 6px;
        @include input-dark();
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include button-primary(10px 6px);

        img {
          height: auto;
          max-width: 28px;
        }
      }
    }
    .craccbtn {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        color: white;
        @include OpenSans(100);
      }
    }
    .tip-wrap {
      padding-top: 5rem;
      text-align: center;

      p {
        color: white;
        @include OpenSans(100);
      }
    }
  }
}

#loginMain {
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}

@media (max-width: $breakpoint-mobile) {
  #login-body {
    #login-form {
      width: 85%;

      .input-group {
        width: 100%;
      }
      .login-error-container {
        width: 100%;
      }
    }
  }
}
