<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block stylesheets %} {% endblock %}
    <link rel="stylesheet" href="{% static 'Sass/main.css' %}" />
    <link rel="icon" href="{% static 'Images/favicon.png'%}" type="image/x-icon" />
    <title>DeepReview</title>
  </head>
  <body>
    <section id="loader">
      <h2>Loading</h2>
      <div id="loader-wrapper"><span></span><span></span><span></span></div>
    </section>
    <div id="notification-container">
      <img src="{% static 'Images/noti-ic.png' %}" alt="" />
      <div class="noti-wrapper">
        <h2 class="head">Noti Head</h2>
        <p class="message">Message comes here</p>
      </div>
    </div>
    <header id="site-navigation">{% block ul %} {% endblock %}</header>
    <main>{% block main %} {% endblock %}</main>
    <footer class="global-footer">
      <div class="left">
        <div class="sect">
          <div id="logo">
            <img src="{% static 'Images/favicon.png' %}" alt="" />
            <h2>DeepReview</h2>
          </div>
          <p>
            Developed, Designed and Managed by Elwin Jyothis <br />
            Illustration by <a href="https://icons8.com/illustrations/author/5eb2a7bd01d0360019f124e7">Olha Khomich</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
          </p>
        </div>
        <div class="sect">
          <h3>Contact</h3>
          <p>&#128231; elwinjyothisr444@gmail.com</p>
          <p>&#128241; +91 9315450389</p>
        </div>
        <div class="sect">
          <h3>Social</h3>
          <div class="soc-ics">
            <a href="https://www.instagram.com/e_l_j_y_o"><img src="{% static 'Images/ig-ic.png' %}" alt="" /></a><a href=""><img src="{% static 'Images/twitter-ic.png' %}" alt="" /></a>
          </div>
          <p>Made in India 🇮🇳</p>
          <p class="cori">Copyright &#9400; 2021 All Rights Reserved</p>
        </div>
      </div>
      <div class="right">
        <img src="{% static 'Images/shop-ic.png' %}" alt="" />
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="{% static 'Scripts/JQuery.js' %}"></script>
  <script type="text/javascript" src="{% static 'Scripts/GSAP.js' %}"></script>
  <script type="text/javascript" src="{% static 'Scripts/App.js' %}"></script>
  {% block scripts %} {% endblock %}
</html>
