<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Sass/main.css' %}" />
    <link rel="icon" href="{% static 'Images/favicon.png'%}" type="image/x-icon" />
    <title>DeepReview</title>
  </head>
  <body>
    <div id="notification-container">
      <img src="{% static 'Images/noti-ic.png' %}" alt="" />
      <div class="noti-wrapper">
        <h2 class="head">Noti Head</h2>
        <p class="message">Message comes here</p>
      </div>
    </div>
    <header id="site-navigation">{% block ul %} {% endblock %}</header>
    <main>{% block main %} {% endblock %}</main>
  </body>
  <script type="text/javascript" src="{% static 'Scripts/JQuery.js' %}"></script>
  <script type="text/javascript" src="{% static 'Scripts/GSAP.js' %}"></script>
  <script type="text/javascript" src="{% static 'Scripts/App.js' %}"></script>
  {% block scripts %} {% endblock %}
</html>
