{% extends 'base.html' %} {% load static %}
{% block ul %}
<ul class="ul-for-staff" style="flex-direction: row !important;">
  <li><a href="{% url 'Home' grade %}"><button>Back</button></a></li>
  {% if request.user.is_authenticated %}
  <li>
    <a href="{% url 'Logout' %}"><button>Logout</button></a>
  </li>
  {% else %}
  <li><button>Login</button></li>
  {% endif %}
</ul>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'Sass/detail.css' %}">
{% endblock %}

{% block main %}
<section id="editStudent-container">
  <div id="editStud-wrapper">
    <form id="editStudentForm" data-gradeId="{{grade}}">
      {% csrf_token %}
      <section class="sep">
        <h2>Personal Details</h2>
        <div class="input-group">
          <label>Admission Number</label>
          <input autocomplete="off" required type="number" min="0" value="{{student.admnNo}}" name="admnNo" placeholder="eg: 4814" />
        </div>
        <div class="input-group">
          <label>Full Name</label>
          <input autocomplete="off" required type="text" name="name" placeholder="eg: John Smith" value="{{student.name}}" />
        </div>
        <div class="input-group">
          <label>Date of Birth</label>
          <input autocomplete="off" type="text" name="dob" placeholder="eg: 02-04-2004" value="{{student.dateOfBirth}}" />
        </div>
        <div class="input-group gender-grp">
          <label>Gender</label>
          <div class="select-option-group">
            <div class="drop-btn-div">
              <img src="{% static 'Images/dropdownarrow-ic.png' %}" alt="" />
            </div>
            <select name="gender">
              {% if student.gender == 'Male' %}
              <option value="Male" selected>Male</option>
              <option value="Female">Female</option>
              {% else %}
              <option value="Male">Male</option>
              <option value="Female" selected>Female</option>
              {% endif %}
            </select>
          </div>
        </div>
      </section>
      <section class="sep">
        <h2>Parent's Details</h2>
        <div class="input-group">
          <label>Father's Name</label>
          <input autocomplete="off" type="text" name="father" placeholder="eg: Jeremy Smith" value="{{student.fathersName}}" />
        </div>
        <div class="input-group">
          <label>Mother's Name</label>
          <input autocomplete="off" type="text" name="mother" placeholder="eg: Sarah Smith" value="{{student.mothersName}}" />
        </div>
        <div class="input-group">
          <label>Guardian's Name</label>
          <input autocomplete="off" type="text" name="guardian" placeholder="eg: Miles Smith" value="{{student.guardiansName}}"/>
        </div>
      </section>
      <section class="sep">
        <h2>Others</h2>
        <div class="input-group">
          <label>Aadhar Number</label>
          <input autocomplete="off" id="aadhar" type="tel" inputmode="numeric" minlength="14" name="adNo" value="{{student.aadharNumber}}" placeholder="xxxx xxxx xxxx" maxlength="14" />
        </div>
        <div class="input-group">
          <label>Address</label>
          <input autocomplete="off" type="text" name="address" placeholder="eg: House No - 26, Baker Street" value="{{student.address}}" />
        </div>
        <div class="input-group remark-inp">
          <label>Remarks</label>
          <textarea name="remarks" placeholder="Your review about the student" cols="30" maxlength="300" rows="5">{{student.remarks}}</textarea>
        </div>
        <div class="input-group">
          <label>Attendance</label>
          <input autocomplete="off" type="text" name="attdn" placeholder="eg: 28/50" value="{{student.attendance}}" />
        </div>
      </section>
      <section class="sep cta-sect">
        <div class="input-group">
          <button type="submit" id="save-student-btn" data-admnNo="{{student.admnNo}}">Save Student<p>&#128190;</p></button>
        </div>
        <div class="input-group cancel-grp">
          <button type="button" id="close-editStudent-panel-btn">Cancel</button>
        </div>
      </section>
    </form>
  </div>
</section>
<section id="create-marksheet-container">
  <section id="create-marksheet-wrapper">
    <!-- <p class="mark-ic">&#128203;</p> -->
    <img class="emp-space-fill" src="{% static 'Images/space-ic.png' %}" alt="">
    <form id="create-marksheet">
      {% csrf_token %}
      <div class="input-group gender-grp">
        <label>Test Format</label>
        <div class="select-option-group">
          <div class="drop-btn-div">
            <img src="{% static 'Images/dropdownarrow-ic.png' %}" alt="" />
          </div>
          <select class="format-change" name="test-format">
            <option value="None">Select Format</option>
            <option value="UT">Periodic Test</option>
            <option value="MT">Terminal Exam</option>
          </select>
        </div>
      </div>
      <div class="input-group gender-grp title-drop">
        <label>Exam Title</label>
        <div class="select-option-group">
          <div class="drop-btn-div">
            <img src="{% static 'Images/dropdownarrow-ic.png' %}" alt="" />
          </div>
          <select required class="title-dropdown" >
            <option>Waiting for format</option>
          </select>
        </div>
      </div>
      <div class="input-group addSubject"></div>
      <div class="format-holder">
        <h2>Select a format to load form</h2>
      </div>
      <div class="input-group">
        <button type="submit" class="submit-marksheet-cr">Submit</button>
      </div>
      <div class="input-group">
        <button type="button" class="cancel-marksheet-cr">Cancel</button>
      </div>
    </form>
  </section>
</section>
<section id="student-details-container">
  <div id="student-wrapper">
    <section id="student-info">
      <h2 class="studentDetailHeader"><p>{{student.admnNo}} | {{student.name}}</p><button class="edit-student-button"><p>&#128394;</p></button></h2>
      <div class="all-details">
        <section id="part-1">
          <p>Father's Name: {{student.fathersName}}</p>
          <p>Mother's Name: {{student.mothersName}}</p>
          {% if student.guardiansName|length != 0 %}
          <p>Guardian's Name: {{student.guardiansName}}</p>
          {% endif %}
          <p>DOB: {{student.dateOfBirth}}</p>
          <p>Gender: {{student.gender}}</p>
        </section>
        <section id="part-2">
          <p>Aadhar Number: {{student.aadharNumber}}</p>
          <p>Address: {{student.address}}</p>
          <p>Username: {{student.user.username}}</p>
          <p>Password: {{student.password}}</p>
        </section>
        {% if student.remarks|length != 0 %}
        <section id="part-3">
          <p style="margin-bottom: 6px">Remarks:</p>
          <p>{{student.remarks}}</p>
        </section>
        {% endif %}
        <section id="part-4">
          <p>Attendence</p>
          <p style="font-weight: 200;">{{student.attendance}}</p>
        </section>
      </div>
    </section>
    <section id="marksheet">
      {% if marksheet|length == 0 %}
      <div class="empty-message">
        <!-- <p>&#128451;</p> -->
        <img src="{% static 'Images/empty-ic.png' %}" alt="">
        <h3>Marksheet not prepared!</h3>
        <button class="cr-marksheet" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" >Create Marksheet</button>
      </div>
      {% else %} 
      <div class="marksheet-main-head">
        <h2>Marksheet</h2>
        <button class="cr-marksheet" data-admnNo="{{student.admnNo}}" data-grade="{{class}}">Create Marksheet</button>
      </div>
      {% for set in marksheet %} {% if set.FORMAT == "UT" %}
      <div class="ut-set set">
        <div class="set-head">
          <h2>{{set.HEAD}}</h2>
          <div class="controls">
            <button class="delete-marksheet" data-index="{{set.INDEX}}" data-admnNo="{{student.admnNo}}"><p>&#128465;</p></button>
            <div class="toggle-container">
              {% if  set.RELEASED %}
              <input type="checkbox"  checked id="rel-toggle{{set.INDEX}}" />
              <label class="rel-toggle-cta" for="rel-toggle{{set.INDEX}}" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}"><span class="toggle-globe"></span></label>
              {% else %}
              <input type="checkbox"  id="rel-toggle{{set.INDEX}}" />
              <label class="rel-toggle-cta" for="rel-toggle{{set.INDEX}}" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}"><span class="toggle-globe"></span></label>
              {% endif %}
            </div>
            <!-- <div class="toggle-container">
              {% if set.RELEASED %}
              <div class="toggle-wrapper active-toggle" data-state="on" >
              {% else %}
              <div class="toggle-wrapper toggle-wrap{{set.INDEX}}" data-state="off" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}">
              {% endif %}
                <div class="toggle-globe toggle{{set.INDEX}}"></div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="subject-mark-wrapper ut">
          {% for subject in set.BODY %}
          <div class="subject-mark-display">
            <p class="sub-heading">{{subject.SUBJECT}}</p>
            {% if subject.SUBJECT in sub_list %}
            <span>{{subject.SCORE}}</span>
            {% else %}
            <span>{{subject.SCORE}}/40</span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="result-container">
          <div class="result"><p>Total</p><span>{{set.TOTAL}}</span></div>
          <div class="result"><p>Percentage</p><span>{{set.PERCENTAGE}}%</span></div>
        </div>
      </div>
      {% else %}
      <div class="mt-set set">
        <div class="set-head">
          <h2>{{set.HEAD}}</h2>
          <div class="toggle-container">
            {% if set.RELEASED %}
            <div class="toggle-wrapper active-toggle" data-state="on" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}">
            {% else %}
            <div class="toggle-wrapper toggle-wrap{{set.INDEX}}" data-state="off" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}">
            {% endif %}
              <div class="toggle-globe toggle{{set.INDEX}}"></div>
            </div>
          </div>
        </div>
        <div class="subject-mark-wrapper mt">
          {% for subject in set.BODY %}
          <div class="subject-mark-display">
            <p class="sub-heading">{{subject.SUBJECT}}</p>
            <span>{{subject.SCORE}}/100</span>
            <div class="internal-mark-display">
              {% for inter in subject.INTERNAL %}
              <div class="mark-set">
                <div class="mark-set__wrapper">
                  {% if inter.SET_NAME == "Written" %}
                  <p>{{inter.SET_NAME}}</p>
                  <p>{{inter.MARKS}}/80</p>
                  {% else %}
                  <p>{{inter.SET_NAME}}</p>
                  <p>{{inter.MARKS}}/5</p>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %} {% endfor %} {% endif %}
    </section>
  </div>
  <section id="fee-info">
    <div class="fee-info-wrapper">
      <h2>
        Fee Status
        <div class="indicator">
          <div class="paid">
            <span></span>
            <p>Paid</p>
          </div>
          <div class="unpaid">
            <span></span>
            <p>Unpaid</p>
          </div>
        </div>
      </h2>
      <ul>
        {% csrf_token %} {% for feeItem in feeInfo %} {% if feeItem.PAID %}
        <li class="fee__month-item" style="background-color: #1ab48b; color: white;" data-state="{{feeItem.PAID}}" data-id="{{feeItem.ID}}" data-admno="{{student.admnNo}}">{{feeItem.MONTH_NAME}}</li>
        {% else %}
        <li class="fee__month-item" style="background-color: #d52525; color: white;" data-state="{{feeItem.PAID}}" data-id="{{feeItem.ID}}" data-admno="{{student.admnNo}}">{{feeItem.MONTH_NAME}}</li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </section>
</section>
<script>
  document.getElementById("aadhar").addEventListener("input", function (e) {
    e.target.value = e.target.value
      .replace(/[^\dA-Z]/g, "")
      .replace(/(.{4})/g, "$1 ")
      .trim();
  });
</script>
{% endblock %}

{% block scripts %}
<script src="{% static 'Scripts/detail.js' %}"></script>
<script src="{% static 'Scripts/Marksheet/MarksheetCr.js' %}"></script>
{% endblock %}


