{% extends 'base.html' %} {% load static %}
{% block ul %}
<ul class="ul-for-staff" style="flex-direction: row !important;">
  <li><a href="{% url 'Home' grade %}"><button>Back</button></a></li>
  {% if request.user.is_authenticated %}
  <li>
    <a href="{% url 'Logout' %}"><button>Logout</button></a>
  </li>
  {% else %}
  <li><button>Login</button></li>
  {% endif %}
</ul>
{% endblock %}

{% block main %}
<section id="create-marksheet-container">
  <section id="create-marksheet-wrapper">
    <img src="{% static 'Images/empty-rugby-ic.png' %}" alt="">
    <form id="create-marksheet">
      {% csrf_token %}
      <div class="input-group gender-grp">
        <p>Test Format</p>
        <div class="select-option-group">
          <div class="drop-btn-div">
            <img src="{% static 'Images/dropdownarrow-ic.png' %}" alt="" />
          </div>
          <select class="format-change" name="test-format">
            <option value="None">Select Format</option>
            <option value="UT">Periodic Test</option>
            <option value="MT">Terminal Exam</option>
          </select>
        </div>
      </div>
      <div class="input-group gender-grp title-drop">
        <p>Exam Title</p>
        <div class="select-option-group">
          <div class="drop-btn-div">
            <img src="{% static 'Images/dropdownarrow-ic.png' %}" alt="" />
          </div>
          <select required class="title-dropdown" >
            <option>Waiting for format</option>
          </select>
        </div>
      </div>
      <div class="input-group addSubject"></div>
      <div class="format-holder">
        <h2>Select a format to load form</h2>
      </div>
      <div class="input-group">
        <button type="submit" class="submit-marksheet-cr">Submit</button>
      </div>
      <div class="input-group">
        <button type="button" class="cancel-marksheet-cr">Cancel</button>
      </div>
    </form>
  </section>
</section>
<section id="student-details-container">
  <div id="student-wrapper">
    <section id="student-info">
      <h2>{{student.admnNo}} | {{student.name}}</h2>
      <div class="all-details">
        <section id="part-1">
          <p>Father's Name: {{student.fathersName}}</p>
          <p>Mother's Name: {{student.mothersName}}</p>
          <p>DOB: {{student.dateOfBirth}}</p>
          <p>Gender: {{student.gender}}</p>
        </section>
        <section id="part-2">
          <p>Aadhar Number: {{student.aadharNumber}}</p>
          <p>Address: {{student.address}}</p>
          <p>Username: {{student.user.username}}</p>
          <p>Password: {{student.password}}</p>
        </section>
        <section id="part-3">
          <p style="margin-bottom: 6px">Remarks:</p>
          <p>{{student.remarks}}</p>
        </section>
      </div>
    </section>
    <section id="marksheet">
      {% if marksheet|length == 0 %}
      <div class="empty-message">
        <img src="{% static 'Images/empty-rugby-ic.png' %}" alt="" />
        <h3>Marksheet not prepared!</h3>
        <button class="cr-marksheet" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" >Create Marksheet</button>
      </div>
      {% else %} 
      <div class="marksheet-main-head">
        <h2>Marksheet</h2>
        <button class="cr-marksheet" data-admnNo="{{student.admnNo}}" data-grade="{{class}}">Create Marksheet</button>
      </div>
      {% for set in marksheet %} {% if set.FORMAT == "UT" %}
      <div class="ut-set set">
        <div class="set-head">
          <h2>{{set.HEAD}}</h2>
          <div class="controls">
            <button class="delete-marksheet" data-index="{{set.INDEX}}" data-admnNo="{{student.admnNo}}"><img src="{% static 'Images/delete-ic.png' %}" alt=""></button>
            <div class="toggle-container">
              {% if set.RELEASED %}
              <div class="toggle-wrapper active-toggle" data-state="on" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}">
              {% else %}
              <div class="toggle-wrapper toggle-wrap{{set.INDEX}}" data-state="off" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}">
              {% endif %}
                <div class="toggle-globe toggle{{set.INDEX}}"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="subject-mark-wrapper ut">
          {% for subject in set.BODY %}
          <div class="subject-mark-display">
            <p class="sub-heading">{{subject.SUBJECT}}</p>
            {% if subject.SUBJECT in sub_list %}
            <span>{{subject.SCORE}}</span>
            {% else %}
            <span>{{subject.SCORE}}/40</span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="result-container">
          <div class="result"><p>Total</p><span>{{set.TOTAL}}</span></div>
          <div class="result"><p>Percentage</p><span>{{set.PERCENTAGE}}%</span></div>
        </div>
      </div>
      {% else %}
      <div class="mt-set set">
        <div class="set-head">
          <h2>{{set.HEAD}}</h2>
          <div class="toggle-container">
            {% if set.RELEASED %}
            <div class="toggle-wrapper active-toggle" data-state="on" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}">
            {% else %}
            <div class="toggle-wrapper toggle-wrap{{set.INDEX}}" data-state="off" data-admnNo="{{student.admnNo}}" data-grade="{{class}}" data-index="{{set.INDEX}}">
            {% endif %}
              <div class="toggle-globe toggle{{set.INDEX}}"></div>
            </div>
          </div>
        </div>
        <div class="subject-mark-wrapper mt">
          {% for subject in set.BODY %}
          <div class="subject-mark-display">
            <p class="sub-heading">{{subject.SUBJECT}}</p>
            <span>{{subject.SCORE}}/100</span>
            <div class="internal-mark-display">
              {% for inter in subject.INTERNAL %}
              <div class="mark-set">
                <div class="mark-set__wrapper">
                  {% if inter.SET_NAME == "Written" %}
                  <p>{{inter.SET_NAME}}</p>
                  <p>{{inter.MARKS}}/80</p>
                  {% else %}
                  <p>{{inter.SET_NAME}}</p>
                  <p>{{inter.MARKS}}/5</p>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %} {% endfor %} {% endif %}
    </section>
  </div>
  <section id="fee-info">
    <div class="fee-info-wrapper">
      <h2>
        Fee Status
        <div class="indicator">
          <div class="paid">
            <span></span>
            <p>Paid</p>
          </div>
          <div class="unpaid">
            <span></span>
            <p>Unpaid</p>
          </div>
        </div>
      </h2>
      <ul>
        {% csrf_token %} {% for feeItem in feeInfo %} {% if feeItem.PAID %}
        <li class="fee__month-item" style="border-bottom-color: #25d5a6" data-state="{{feeItem.PAID}}" data-id="{{feeItem.ID}}" data-admno="{{student.admnNo}}">{{feeItem.MONTH_NAME}}</li>
        {% else %}
        <li class="fee__month-item" style="border-bottom-color: #d52525" data-state="{{feeItem.PAID}}" data-id="{{feeItem.ID}}" data-admno="{{student.admnNo}}">{{feeItem.MONTH_NAME}}</li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </section>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'Scripts/Marksheet/MarksheetCr.js' %}"></script>
{% endblock %}


