{% extends 'base.html' %} {% load static %} {% block ul %}
<ul class="ul-for-staff">
  <li>
    <a href="{% url 'Logout' %}"><button>Logout</button></a>
  </li>
</ul>
{% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{% static 'Sass/home.css' %}" />
{% endblock %} {% block main %}
<section id="confirmation-box">
  <p>Are you sure you want to delete the student!</p>
  <div class="btns"><button class="cancel-delete">Cancel</button><button class="delete-confirm" data-grade="{{className}}">Delete</button></div>
</section>

<section id="addStudent-container">
  <div id="addStud-wrapper">
    <form id="addStudentForm" data-gradeId="{{grade}}">
      {% csrf_token %}
      <section class="sep">
        <h2>Personal Details</h2>
        <div class="input-group">
          <label>Admission Number</label>
          <input autocomplete="off" required type="number" min="0" name="admnNo" placeholder="eg: 4814" />
        </div>
        <div class="input-group">
          <label>Full Name</label>
          <input autocomplete="off" required type="text" name="name" placeholder="eg: John Smith" />
        </div>
        <div class="input-group">
          <label>Date of Birth</label>
          <input autocomplete="off" type="text" name="dob" placeholder="eg: 02-04-2004" />
        </div>
        <div class="input-group gender-grp">
          <label>Gender</label>
          <div class="select-option-group">
            <div class="drop-btn-div">
              <img src="{% static 'Images/dropdownarrow-ic.png' %}" alt="" />
            </div>
            <select name="gender">
              <option value="None" selected>Select</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
      </section>
      <section class="sep">
        <h2>Parent's Details</h2>
        <div class="input-group">
          <label>Father's Name</label>
          <input autocomplete="off" type="text" name="father" placeholder="eg: Jeremy Smith" />
        </div>
        <div class="input-group">
          <label>Mother's Name</label>
          <input autocomplete="off" type="text" name="mother" placeholder="eg: Sarah Smith" />
        </div>
        <div class="input-group">
          <label>Guardian's Name</label>
          <input autocomplete="off" type="text" name="guardian" placeholder="eg: Miles Smith" />
        </div>
      </section>
      <section class="sep">
        <h2>Others</h2>
        <div class="input-group">
          <label>Aadhar Number</label>
          <input autocomplete="off" id="aadhar" type="tel" inputmode="numeric" minlength="14" name="adNo" placeholder="xxxx xxxx xxxx" maxlength="14" />
        </div>
        <div class="input-group">
          <label>Address</label>
          <input autocomplete="off" type="text" name="address" placeholder="eg: House No - 26, Baker Street" />
        </div>
        <div class="input-group remark-inp">
          <label>Remarks</label>
          <textarea name="remarks" placeholder="Your review about the student" cols="30" maxlength="300" rows="5"></textarea>
        </div>
        <div class="input-group">
          <label>Attendance</label>
          <input autocomplete="off" type="text" name="attdn" placeholder="eg: 28/50" />
        </div>
      </section>
      <section class="sep cta-sect">
        <div class="input-group">
          <button type="submit" id="create-student-btn">Add Student</button>
        </div>
        <div class="input-group cancel-grp">
          <button type="button" id="close-addStudent-panel-btn">Cancel</button>
        </div>
      </section>
    </form>
  </div>
</section>
<section id="class-details">
  <div class="students-list">
    <div class="head-stock">
      <h2>Students List</h2>
      <div class="student-list-control-panel">
        <button id="addStudent-panel-open-btn">&#10133;</button>
      </div>
    </div>
    {% if students|length == 0 %}
    <h2 id="empty-msg">Oh my, so empty!</h2>
    {% else %} {% for student in students %}
    <div class="student" data-admnNo="{{student.admnNo}}" data-name="{{student.name}}">
      <div class="basic-info-wrap">
        <a href="{% url 'Detail' grade student.admnNo %}">
          <h2>{{student.admnNo}} | {{student.name}}</h2>
        </a>
        <div class="control-btns">
          <button class="delete-stud" data-admnNo="{{student.admnNo}}"><p>&#128465;</p></button>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
  <div class="class-teacher-details">
    <div class="teacher-details">
      <h2>{{admin.user.first_name}} {{admin.user.last_name}}</h2>
      <p>{{admin.assignedClass}} | {{strength}}</p>
    </div>
  </div>
</section>
<script>
  document.getElementById("aadhar").addEventListener("input", function (e) {
    e.target.value = e.target.value
      .replace(/[^\dA-Z]/g, "")
      .replace(/(.{4})/g, "$1 ")
      .trim();
  });
</script>
{% endblock %} {% block scripts %}
<script src="{% static 'Scripts/home.js' %}"></script>
{% endblock %}
