<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Sass/main.css' %}" />
    <link rel="icon" href="{% static 'Images/favicon.png'%}" type="image/x-icon" />
    <title>Login</title>
  </head>
  <body id="login-body">
    <form id="login-form">
      {% csrf_token %}
      <div class="space-fill-icon">
        <img src="{% static 'Images/empty-scuba-ic.png' %}" alt="" />
      </div>
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" placeholder="eg:johndoe24" name="username" autocomplete="off" />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <div class="pass-group">
          <input type="password" placeholder="Your password here" name="password" />
          <img class="show-pass" src="{% static 'Images/view-pass-ic.png' %}" />
        </div>
      </div>
      <div class="login-error-container">
        <img src="{% static 'Images/info-ic.png' %}" alt="" />
        <p></p>
      </div>
      <div class="input-group">
        <button type="submit" class="loginBtn">
          <p>Login</p>
        </button>
      </div>
      <div class="input-group craccbtn">
        <a href="#">Create Account</a>
      </div>
      <div class="tip-wrap">
        <p>Did you know?</p>
        <p>{{tip}}</p>
      </div>
    </form>
    <script type="text/javascript" src="{% static 'Scripts/JQuery.js' %}"></script>
    <script type="text/javascript" src="{% static 'Scripts/GSAP.js' %}"></script>
    <script type="text/javascript" src="{% static 'Scripts/App.js' %}"></script>
  </body>
</html>
